$comp-card-heading-color:      #7990A8;
$comp-field-bg-color:          #ffffff;
$comp-field-placeholder-color: #B2C1D0;

.comp-modal {
    .modal-header,
    .modal-body,
    .modal-footer {
        background-color: #F6F9FC;
        color: $comp-card-heading-color;
    }

    .modal-body {
        font-size: .875rem;
    }

    .modal-title {
        color: #7990A8;
        font-size: .875rem;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    select {
        &.form-control, &.form-control:focus {
            background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 1440'%3E%3Cpath d='m720 1090l-576-576h1152z'/%3E%3C/svg%3E") no-repeat right 6px center;
            background-size: 15px 10px;
            -moz-appearance: none;
            -webkit-appearance: none;
            option {
                padding: 8px 3px;
                color: #555;
            }
            option:disabled {
                font-weight: 300;
          background: #f3f3f3;
          color: #777;
            }
        }
        &.form-control:disabled {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 1440'%3E%3Cpath fill='%23999' d='m720 1090l-576-576h1152z'/%3E%3C/svg%3E");
        }
      }
}